body,
h1 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

/* Container */
.container {
  box-sizing: border-box;
  padding: 0 20px;
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 800px;
  }
}

@media (max-width: 1000px) {
  .container {
    box-sizing: border-box;
    padding: 0 20px;
    width: auto;
  }
}

@media (max-width: 700px) {
  .container {
    display: none;
  }
}

/* Header-cabeçalho */
.header-bg {
  background-color: var(--cor-p0);
  height: 120px;
}

.header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  display: flex;
  gap: 60px;
}

.header li a {
  position: relative;
  padding: 10px;
}

.header li a::after {
  content: "";
  background-color: var(--cor-c9);
  display: block;
  position: absolute;
  height: 2px;
  width: 0px;
  bottom: 4px;
  left: 10px;
  transition: 0.3s;
}

.header li a:hover:after {
  width: calc(100% - 10px);
}

@media (max-width: 1000px) {
  .header ul {
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .header ul {
    gap: 15px;
  }
}
@media (max-width: 450px) {
  .header {
    height: 80px;
  }
  .header-bg {
    height: 80px;
  }
  .header li {
    display: grid;
    align-self: center;
  }
}
