.formulario #curriculo {
  padding: 0;
  border: none;
  box-shadow: none;
}

.formulario .quebra {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

@media (max-width: 1200px) {
  .trabalhe-intro {
    padding-top: 32px;
  }
}

@media (max-width: 800px) {
  .formulario .quebra {
    grid-template-columns: 1fr;
    justify-items: left;
  }
  .formulario #curriculo {
    font-size: 16px;
  }
}
