* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

/* Container */
.container {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 800px;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 800px) {
  .container {
    width: 550px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 450px;
  }
}

@media (max-width: 500px) {
  .container {
    width: 300px;
  }
}

/* Botao */
.botao {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}

.botao:hover {
  transition: 0.3s;
  letter-spacing: 1px;
}

/* Link cardapio */

.link {
  position: relative;
  display: flex;
  transition: 0.3s;
}

.link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: -8px;
  left: -8px;
  transition: 0.3s;
}

.link:hover {
  color: var(--cor-c1);
}

.link:hover::after {
  width: calc(100% + 16px);
  background-color: var(--cor-c1);
  transition: 0.3s;
}

/* Backgroud das paginas */
.pagina-bg {
  background-color: var(--cor-c0);
  padding-bottom: 120px;
}

/* Titulo */
.titulo {
  padding-top: 72px;
}

@media (max-width: 1200px) {
  .titulo {
    padding-top: 36px;
  }
}

/* Formulário */
form {
  display: grid;
}

.formulario {
  background-color: var(--cor-c1);
  margin-top: 52px;
  margin-right: 4vw;
  margin-left: 4vw;
  border-radius: 4px;
  padding-top: 72px;
  margin-bottom: 0px;
}

.formulario form {
  display: grid;
}

.formulario label {
  font: inherit;
  color: inherit;
  display: block;
}
.formulario label,
.formulario input,
.formulario textarea {
  margin-left: 20px;
  margin-right: 20px;
}

.formulario input:focus,
.formulario textarea:focus {
  outline: none;
  border: solid 2px var(--cor-p1);
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(240, 136, 84, 1);
}

.formulario input,
.formulario textarea {
  font-size: 1.5rem;
}

.formulario label + input,
.formulario label + textarea {
  margin-top: 20px;
  margin-bottom: 52px;
  padding: 12px 20px;
}
.formulario button {
  background-color: var(--cor-p1);
  border: none;
  padding: 24px 104px;
  border-radius: 4px;
  justify-self: center;
  margin-top: 28px;
  margin-bottom: 72px;
  transition: 0.3s;
}

.formulario button:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--cor-p3);
  color: var(--cor-c0);
  letter-spacing: 1.3px;
}
@media (max-width: 1200px) {
  form {
    margin-bottom: 80px;
  }
  .formulario {
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
@media (max-width: 800px) {
  .formulario {
    padding-top: 44px;
  }
  .formulario input,
  .formulario textarea {
    width: 70vw;
    font-size: 1.3rem;
  }
  .formulario button {
    padding: 18px 48px;
  }
}
@media (max-width: 600px) {
  .formulario input,
  .formulario textarea {
    font-size: 1rem;
  }
  .formulario label + input,
  .formulario label + textarea {
    margin-top: 12px;
    margin-bottom: 32px;
  }
  .formulario button {
    margin-top: 40px;
    margin-bottom: 52px;
  }
}

/* Animção */

.fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}
.js [data-anime] {
  opacity: 0;
}
.js .anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}
