/* Header-cabeçalho */
.header-bg {
  background-color: var(--cor-p0);
  height: 120px;
}

.header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  display: flex;
  gap: 60px;
}

.header li a {
  position: relative;
  padding: 10px;
}

.header li a::after {
  content: "";
  background-color: var(--cor-c9);
  display: block;
  position: absolute;
  height: 2px;
  width: 0px;
  bottom: 4px;
  left: 10px;
  transition: 0.3s;
}

.header .ativo::after {
  width: 90%;
}

.header li a:hover::after {
  width: 90%;
}

@media (max-width: 1000px) {
  .header ul {
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .header ul {
    gap: 15px;
  }
  .header {
    height: 80px;
  }
  .header-bg {
    height: 80px;
  }
  .header li {
    display: grid;
    align-self: center;
  }
  .header a {
    padding: 5px 10px;
  }
}
