.cardapio {
  background-color: var(--cor-c0);
}
.cardapio-introducao {
  padding: 72px 0 0 0;
}

.prato-bg {
  margin-top: 72px;
  background-color: var(--cor-p1);
}

.prato-conteudo,
.sobremesa-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  padding: 60px 0;
}

.prato-conteudo div,
.sobremesa-conteudo div {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: left;
}

.prato-conteudo p,
.prato-conteudo a,
.sobremesa-conteudo p,
.sobremesa-conteudo a {
  margin-top: 40px;
}

.prato-conteudo div img,
.sobremesa-conteudo div img {
  display: none;
}

.prato-conteudo img {
  border-radius: 4px;
  height: 100%;
  object-fit: cover;
}

/* Aqui acaba os estilos dos pratos */

.sobremesa-bg {
  margin-bottom: 120px;
  background-color: var(--cor-c7);
}

.sobremesa-conteudo img {
  border-radius: 4px;
  height: 100%;
  object-fit: cover;
}

/* Aqui termina os estilos das sobremesas */

@media (max-width: 2200px) {
  .prato-bg,
  .sobremesa-bg {
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    width: 85vw;
    box-sizing: border-box;
  }
}

@media (max-width: 1600px) {
  .prato-bg,
  .sobremesa-bg {
    width: auto;
    border-radius: 0;
  }
}

@media (max-width: 1200px) {
  .cardapio-introducao {
    padding-top: 36px;
  }
  .prato-bg {
    margin-top: 36px;
  }
  .prato-conteudo,
  .sobremesa-conteudo {
    padding: 40px 0;
  }
  .sobremesa-bg {
    margin-bottom: 80px;
  }
}

@media (max-width: 1000px) {
  .prato-conteudo,
  .sobremesa-conteudo {
    gap: 36px;
  }
  .prato-conteudo p,
  .prato-conteudo a,
  .sobremesa-conteudo p,
  .sobremesa-conteudo a {
    margin-top: 20px;
  }
}

@media (max-width: 800px) {
  .prato-conteudo,
  .sobremesa-conteudo {
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .cardapio-introducao {
    text-align: center;
  }
  .prato-conteudo,
  .sobremesa-conteudo {
    grid-template-columns: 1fr;
  }
  .prato-conteudo div,
  .sobremesa-conteudo div {
    justify-items: center;
    text-align: center;
  }
  .prato-conteudo div img,
  .sobremesa-conteudo div img {
    margin-top: 20px;
    display: block;
    max-height: 40vh;
    width: 80vw;
    object-fit: cover;
  }

  .prato-conteudo > picture,
  .sobremesa-conteudo > picture {
    display: none;
  }
}
/* Aqui termina as media query */
