.cardapio {
  background-color: var(--cor-c0);
}

.cardapio-info {
  padding-top: 72px;
}

.pratos-bg {
  background-color: var(--cor-p1);
  margin-top: 72px;
}

.pratos-titulo {
  padding-top: 40px;
}

.pratos-conteudo {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 110px;
}

.pratos-conteudo img {
  border-radius: 4px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.pratos-conteudo h2 {
  margin-top: 40px;
  position: relative;
}

.pratos-conteudo h2::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 6px;
  left: -20px;
  top: 15px;
  background-color: var(--cor-c7);
}

.pratos-conteudo p {
  margin-top: 20px;
  max-width: 35ch;
}

.sobremesas-bg {
  background-color: var(--cor-c7);
  margin-bottom: 120px;
}

.sobremesas-titulo {
  padding-top: 40px;
}

.sobremesas-conteudo {
  display: flex;
  padding-top: 40px;
  padding-bottom: 54px;
  gap: 110px;
}

.sobremesas-conteudo img {
  border-radius: 4px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.sobremesas-conteudo h2 {
  margin-top: 40px;
  position: relative;
}

.sobremesas-conteudo h2::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 6px;
  left: -20px;
  top: 15px;
  background-color: var(--cor-p1);
}

.sobremesas-conteudo p {
  padding-top: 20px;
  max-width: 35ch;
}

@media (min-width: 1400px) {
  .pratos-bg {
    margin-right: 5vw;
    margin-left: 5vw;
    border-radius: 4px 4px 0 0;
  }
  .sobremesas-bg {
    margin-right: 5vw;
    margin-left: 5vw;
    border-radius: 0 0 4px 4px;
  }
}

@media (min-width: 1600px) {
  .pratos-bg {
    margin-right: 10vw;
    margin-left: 10vw;
  }
  .sobremesas-bg {
    margin-right: 10vw;
    margin-left: 10vw;
  }
}

@media (min-width: 2000px) {
  .pratos-bg {
    margin-right: 15vw;
    margin-left: 15vw;
  }
  .sobremesas-bg {
    margin-right: 15vw;
    margin-left: 15vw;
  }
}

@media (max-width: 1200px) {
  .pratos-conteudo {
    gap: 80px;
  }
  .pratos-conteudo h2::before {
    top: 12px;
    width: 8px;
    height: 4px;
  }

  .sobremesas-conteudo {
    gap: 80px;
  }
  .sobremesas-conteudo h2::before {
    top: 12px;
    width: 8px;
    height: 4px;
  }
}

@media (max-width: 1000px) {
  .cardapio-info {
    margin-right: 5vw;
    margin-left: 5vw;
    padding-top: 40px;
  }
  .pratos-bg {
    margin-top: 40px;
  }
  .pratos-titulo,
  .pratos-conteudo {
    margin-right: 5vw;
    margin-left: 5vw;
  }
  .pratos-conteudo h2::before {
    top: 12px;
  }
  .sobremesas-titulo,
  .sobremesas-conteudo {
    margin-right: 5vw;
    margin-left: 5vw;
  }
  .sobremesas-conteudo h2::before {
    top: 12px;
  }
}

@media (max-width: 800px) {
  .pratos-conteudo h2::before {
    top: 8px;
  }
  .sobremesas-conteudo h2::before {
    top: 8px;
  }
}

@media (max-width: 700px) {
  .pratos-conteudo {
    gap: 40px;
    display: grid;
    padding-bottom: 80px;
  }
  .pratos-conteudo li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }
  .pratos-conteudo h2 {
    padding-right: 20px;
    margin-top: 0px;
  }
  .pratos-conteudo h2::before {
    top: 15px;
  }
  .pratos-conteudo p {
    margin-top: 10px;
    padding-right: 20px;
  }
  .pratos-conteudo img {
    grid-column: 2;
    grid-row: 1/3;
    height: 175px;
    object-fit: cover;
    object-position: center right;
  }

  .sobremesas-conteudo {
    gap: 40px;
    display: grid;
    padding-bottom: 80px;
  }
  .sobremesas-conteudo li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }
  .sobremesas-conteudo h2 {
    padding-right: 20px;
    margin-top: 0px;
  }
  .sobremesas-conteudo h2::before {
    top: 15px;
  }
  .sobremesas-conteudo p {
    margin-top: 0px;
    padding-right: 20px;
  }
  .sobremesas-conteudo img {
    grid-column: 2;
    grid-row: 1/3;
    height: 175px;
    object-fit: cover;
    object-position: center right;
  }
}

@media (max-width: 600px) {
  .pratos-conteudo h2::before {
    top: 12px;
  }
  .sobremesas-conteudo h2::before {
    top: 12px;
  }
}
