.cardapio {
  background-color: var(--cor-c0);
}
.pratos-introducao {
  padding: 72px 0 0 0;
}

.pratos-bg {
  margin-top: 72px;
  background-color: var(--cor-p1);
}

.pratos-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  padding: 60px 0;
}

.pratos-conteudo div {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: left;
}

.pratos-conteudo p {
  margin-top: 40px;
}

.pratos-conteudo a {
  margin-top: 40px;
  position: relative;
  display: flex;
  transition: 0.3s;
}

.pratos-conteudo a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: -8px;
  left: -8px;
  transition: 0.3s;
}

.pratos-conteudo a:hover {
  color: var(--cor-c1);
}

.pratos-conteudo a:hover::after {
  width: calc(100% + 16px);
  background-color: var(--cor-c1);
  transition: 0.3s;
}

.pratos-conteudo div img {
  display: none;
}

.pratos-conteudo img {
  border-radius: 4px;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 2200px) {
  .pratos-bg {
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    width: 90vw;
    box-sizing: border-box;
  }
}

@media (max-width: 1600px) {
  .pratos-bg {
    width: auto;
  }
}

@media (max-width: 1200px) {
  .pratos-introducao {
    padding-top: 36px;
  }
  .pratos-bg {
    margin-top: 36px;
  }
  .pratos-conteudo {
    padding: 40px 0;
  }
}

@media (max-width: 1000px) {
  .pratos-conteudo {
    gap: 36px;
  }
  .pratos-conteudo p,
  .pratos-conteudo a {
    margin-top: 20px;
  }
}

@media (max-width: 800px) {
  .pratos-conteudo {
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .pratos-conteudo {
    grid-template-columns: 1fr;
  }
  .pratos-conteudo div {
    justify-items: center;
    text-align: center;
  }
  .pratos-conteudo div img {
    margin-top: 20px;
    display: block;
    max-height: 40vh;
    width: 80vw;
    object-fit: cover;
  }

  .pratos-conteudo img {
    display: none;
  }
}
