#pratos .item-bg {
  background-color: var(--cor-p1);
}

#pratos .item-conteudo div:nth-child(even)::after {
  background-color: var(--cor-p2);
}

#pratos .item-conteudo h2::before {
  background-color: var(--cor-c7);
}

#pratos .item h1::after {
  background-color: var(--cor-p2);
}

@media (max-width: 600px) {
  #pratos .item-conteudo div::after,
  #pratos .item-conteudo div:nth-child(even)::after {
    background-color: var(--cor-p2);
  }
}
