.introducao-bg {
  background-color: var(--cor-c0);
}

.introducao {
  display: grid;
  grid-template-columns: 7fr 5fr;
  padding-top: 72px;
}

.introducao-conteudo {
  display: grid;
  justify-content: left;
  align-content: center;
  padding-left: calc((100vw - 1160px) / 2);
}

.introducao p {
  width: 35ch;
}

.introducao h1 + p {
  margin-top: 48px;
  margin-bottom: 72px;
}

.introducao a {
  background-color: var(--cor-p7);
  padding: 10px 20px;
  border-radius: 4px;
  justify-self: start;
}

@media (max-width: 1200px) {
  .introducao-conteudo {
    padding-left: calc((100vw - 760px) / 2);
  }

  .introducao h1 + p {
    margin-top: 28px;
    margin-bottom: 42px;
  }
  .introducao picture {
    display: grid;
    align-self: center;
  }
}

@media (max-width: 1000px) {
  .introducao {
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top: 40px;
  }
  .introducao-conteudo {
    justify-items: center;
  }
  .introducao p {
    text-align: center;
  }
  .introducao a {
    justify-self: center;
  }
  .introducao img {
    display: none;
  }
  .introducao h1 + p {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .introducao h1 + p {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}
