.introducao {
  display: flex;
  padding-top: 72px;
  gap: 100px;
}

.introducao-conteudo {
  display: grid;
  min-width: 600px;
  justify-content: left;
  align-content: center;
  padding-left: calc((100vw - 1200px) / 2);
}

.introducao p {
  width: 35ch;
}

.introducao h1 + p {
  margin-top: 48px;
}

.introducao p + a {
  margin-top: 72px;
}
.introducao a {
  background-color: var(--cor-p7);
  padding: 10px 20px;
  border-radius: 4px;
  justify-self: start;
  transition: 0.3s;
}

.introducao a:hover {
  background-color: var(--cor-p3);
  color: var(--cor-c1);
}
.introducao picture {
  display: grid;
  justify-content: left;
}

@media (max-width: 1200px) {
  .introducao-conteudo {
    padding-left: calc((100vw - 800px) / 2);
  }
  .introducao {
    gap: 40px;
  }
  .introducao-conteudo {
    min-width: 435px;
  }
  .introducao h1 + p {
    margin-top: 28px;
  }
  .introducao p + a {
    margin-top: 48px;
  }
  .introducao picture {
    align-self: center;
  }
}

@media (max-width: 1000px) {
  .introducao {
    justify-content: center;
    padding-top: 40px;
  }
  .introducao-conteudo {
    justify-items: center;
    margin-left: 40px;
    padding-left: 0px;
  }
  .introducao p {
    text-align: center;
  }
  .introducao a {
    justify-self: center;
  }
  .introducao img {
    display: none;
  }
  .introducao h1 + p {
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .introducao-conteudo {
    justify-self: center;
    min-width: auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  .introducao h1 + p {
    margin-top: 24px;
  }
  .introducao p + a {
    margin-top: 28px;
  }
}
