.rj-1 {
  margin-top: 72px;
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: var(--cor-p0);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 100px;
}
.rj-1 img {
  height: 100%;
  object-fit: cover;
  object-position: right;
}
.rj-1 h1 {
  position: relative;
  display: grid;
}
.rj-1 h1::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 4px;
  background-color: var(--cor-p1);
  bottom: -20px;
  justify-self: center;
}
.rj-1 p,
.rj-1 span {
  padding-top: 60px;
}
.rj-1 div {
  display: grid;
  text-align: center;
  padding-left: calc((100vw - 1200px) / 2);
  align-self: center;
}
.rj-1 div picture {
  display: none;
}
/*  */
.rj-2 {
  background-color: var(--cor-c7);
  display: grid;
  padding-bottom: 60px;
  box-shadow: inset 0px 56px var(--cor-p0), inset 0px 136px var(--cor-c7);
}
.rj-2 > img {
  justify-self: center;
}
.rj-2 div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  align-items: center;
}
.rj-2 span {
  text-align: center;
  width: 11ch;
  justify-self: left;
}
.rj-2 picture img {
  height: 100%;
  object-fit: cover;
  object-position: right;
}
/*  */
.rj-3 {
  background-color: var(--cor-p0);
  box-shadow: inset 0px 77px var(--cor-c7), inset 0px 144px var(--cor-p0);
  display: grid;
  padding-bottom: 120px;
}
.rj-3 > img {
  justify-self: center;
}
.rj-3 h1 {
  padding-top: 75px;
  justify-self: center;
  position: relative;
  display: grid;
}
.rj-3 h1::after {
  content: "";
  position: absolute;
  width: 66%;
  height: 4px;
  background-color: var(--cor-p1);
  bottom: -20px;
  justify-self: center;
}
.rj-3 div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 104px;
  gap: 40px;
  align-items: center;
}
.rj-3 li {
  position: relative;
  display: grid;
}
.rj-3 li + li {
  padding-top: 40px;
  position: relative;
}
.rj-3 li + li::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 4px;
  background-color: var(--cor-p1);
  top: 20px;
}
.rj-3 img {
  position: relative;
}
.rj-3 li img {
  content: "";
  position: absolute;
  left: -36px;
  top: 10px;
}
.rj-3 li:nth-child(2) img {
  left: -36px;
  top: 50px;
}
.rj-3 li:last-child img {
  left: -36px;
  top: 50px;
}
/*  */
@media (max-width: 1200px) {
  .rj-1 {
    gap: 0 40px;
    margin-top: 36px;
  }
  .rj-1 p,
  .rj-1 span {
    padding-top: 40px;
  }
  .rj-1 div {
    padding-left: calc((100vw - 800px) / 2);
  }
  /*  */
  .rj-2 {
    box-shadow: inset 0px 37px var(--cor-p0), inset 0px 90px var(--cor-c7);
  }
  .rj-2 > img {
    height: 90px;
  }
  /*  */
  .rj-3 {
    box-shadow: inset 0px 50px var(--cor-c7), inset 0px 90px var(--cor-p0);
    padding-bottom: 60px;
  }
  .rj-3 > img {
    height: 90px;
  }
  .rj-3 div {
    padding-top: 60px;
  }
  .rj-3 ul {
    display: grid;
    align-self: center;
    max-width: 35ch;
  }
  .rj-3 li:first-child img {
    top: 4px;
  }
  .rj-3 li:nth-child(2) img,
  .rj-3 li:last-child img {
    top: 44px;
  }
  .rj-3 iframe {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .rj-1 div {
    padding-right: calc((100vw - 750px) / 2);
  }
  /*  */
  .rj-2 {
    box-shadow: inset 0px 24px var(--cor-p0), inset 0px 60px var(--cor-c7);
  }
  .rj-2 > img {
    height: 60px;
  }
  /*  */
  .rj-3 {
    box-shadow: inset 0px 32px var(--cor-c7), inset 0px 60px var(--cor-p0);
  }
  .rj-3 > img {
    height: 60px;
  }
  .rj-3 li:first-child img {
    left: -28px;
    height: 20px;
    top: 4px;
  }
  .rj-3 li:nth-child(2) img,
  .rj-3 li:last-child img {
    left: -28px;
    height: 20px;
    top: 44px;
  }
  .rj-3 h1 {
    padding-top: 40px;
  }
}
@media (max-width: 800px) {
  .rj-1 div {
    padding-left: calc((100vw - 550px) / 2);
  }
  /*  */
  .rj-2 {
    box-shadow: inset 0px 17px var(--cor-p0), inset 0px 40px var(--cor-c7);
  }
  .rj-2 > img {
    height: 40px;
  }
  .rj-2 div {
    padding-top: 20px;
  }
  /*  */
  .rj-3 {
    box-shadow: inset 0px 22px var(--cor-c7), inset 0px 40px var(--cor-p0);
  }
  .rj-3 > img {
    height: 40px;
  }
  .rj-3 li:first-child img {
    top: 8px;
  }
  .rj-3 li:nth-child(2) img {
    top: 48px;
  }
  .rj-3 li:last-child img {
    top: 48px;
  }
  .rj-3 div {
    grid-template-columns: 1fr;
  }
  .rj-3 ul {
    justify-self: center;
    max-width: 50ch;
  }
  .rj-3 li + li::after {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .rj-1 {
    padding-top: 40px;
    padding-bottom: 40px;
    grid-template-columns: 1fr;
  }
  .rj-1 picture {
    display: none;
  }
  .rj-1 p {
    padding-top: 40px;
  }
  .rj-1 span {
    padding-top: 20px;
  }
  .rj-1 div {
    padding-right: 50px;
    padding-left: 50px;
  }
  .rj-1 div picture {
    padding-top: 20px;
    display: block;
    height: 100%;
  }
  .rj-1 div img {
    height: 140px;
    width: 100%;
  }
  /*  */
  .rj-3 h1 {
    font-size: 44px;
    line-height: 44px;
  }
  .rj-3 li:first-child img {
    top: 4px;
  }
  .rj-3 li:nth-child(2) img {
    top: 44px;
  }
  .rj-3 li:last-child img {
    top: 44px;
  }
}
