.unidades {
  background-color: var(--cor-c0);
}

.unidades-intro {
  padding-top: 72px;
}

.unidades-bg {
  background-color: var(--cor-c8);
  margin: 68px auto 120px auto;
}

.img2 {
  display: none;
}

.unidade-sp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 116px;
  gap: 140px;
}

.unidade-sp img {
  border-radius: 4px;
}

.unidade-sp-conteudo {
  display: grid;
  align-items: center;
}

.unidade-sp p,
.unidade-rj p {
  max-width: 35ch;
}

.unidade-rj {
  padding-top: 120px;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 140px;
}

.unidade-rj h1 {
  line-height: 105px;
}

.unidade-rj-conteudo {
  display: grid;
  align-items: center;
}

.unidade-rj img {
  border-radius: 4px;
}

@media (min-width: 1800px) {
  .unidades-bg {
    width: 6;
  }
}

@media (min-width: 1600px) {
  .unidades-bg {
    width: 85vw;
  }
}

@media (min-width: 1400px) {
  .unidades-bg {
    width: 90vw;
    border-radius: 4px;
  }
}

@media (max-width: 1200px) {
  .unidades-intro {
    padding-top: 48px;
  }

  .unidades-bg {
    border-radius: 4px;
    width: 90vw;
    margin-top: 48px;
  }

  .unidade-sp,
  .unidade-rj {
    gap: 100px;
  }
  .unidade-rj h1 {
    line-height: 52px;
  }
}

@media (max-width: 1000px) {
  .unidades-intro,
  .unidade-sp,
  .unidade-rj {
    padding: 52px 10vw 0 10vw;
    gap: 60px;
  }

  .unidade-sp-conteudo picture,
  .unidade-rj-conteudo picture {
    grid-row: 4;
  }

  .unidade-rj {
    padding-bottom: 52px;
  }
  .unidades-bg {
    width: 100vw;
    border-radius: 0px;
  }
}

@media (max-width: 800px) {
  .unidades-intro {
    padding-top: 32px;
  }
  .unidades-bg {
    margin-top: 32px;
  }
  .img1 {
    display: none;
  }
  picture {
    display: grid;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .img2 {
    display: block;
    width: 100vw;
    height: 350px;
    object-fit: cover;
    object-position: center right;
  }
  .unidade-sp {
    padding-top: 60px;
    grid-template-columns: 1fr;
    justify-items: center;
    position: relative;
    grid-template-rows: auto 0px;
    gap: 0px;
  }
  .unidade-sp::after {
    content: "";
    position: absolute;
    width: 70vw;
    border-radius: 4px;
    height: 2px;
    bottom: -60px;
    background-color: var(--cor-c7);
  }
  .unidade-rj {
    justify-items: center;
    grid-template-columns: 1fr;
    padding-top: 120px;
    padding-bottom: 60px;
    grid-template-rows: auto 0px;
    gap: 0px;
  }

  .pic-img1 {
    grid-row: 2;
  }
  .unidade-sp-conteudo picture,
  .unidade-rj-conteudo picture {
    grid-row: 3;
  }
  .unidade-sp h1,
  .unidade-sp p,
  .unidade-rj h1,
  .unidade-rj p {
    justify-self: center;
    text-align: center;
    width: auto;
  }

  h1 + p {
    margin-top: 32px;
  }

  p + p {
    margin-top: 32px;
  }
}

@media (max-width: 600px) {
  .img2 {
    display: block;
    width: 100vw;
    height: 250px;
    object-fit: cover;
    object-position: center right;
  }
  .unidades-bg {
    margin-bottom: 60px;
  }

  .unidade-sp::after {
    bottom: -32px;
  }

  .unidade-rj {
    padding-top: 60px;
  }
}

@media (max-width: 400px) {
  .unidades-bg {
    margin-bottom: 80px;
  }
  .img2 {
    height: 150px;
  }
}
