.unidades-introducao {
  padding-top: 72px;
}

.unidades-bg {
  margin-top: 72px;
  background-color: var(--cor-c7);
  padding-bottom: 120px;
}

.unidade-sp,
.unidade-rj {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 80px;
  padding-top: 80px;
  position: relative;
}

.unidade-sp::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 4px;
  background-color: var(--cor-c6);
  bottom: -100px;
  justify-self: center;
}

.unidade-rj {
  padding-top: 200px;
}

.unidade-sp img,
.unidade-rj img {
  border-radius: 4px;
}

.unidade-sp div,
.unidade-rj div {
  display: grid;
  align-content: space-evenly;
}

.unidade-sp a,
.unidade-rj a {
  justify-self: left;
}

.unidade-sp div picture,
.unidade-rj div picture {
  display: none;
}

@media (max-width: 2200px) {
  .unidades-bg {
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    width: 85vw;
    box-sizing: border-box;
  }
}

@media (max-width: 1600px) {
  .unidades-bg {
    width: auto;
    border-radius: 0;
  }
}

@media (max-width: 1200px) {
  .unidades-introducao {
    padding-top: 36px;
  }
  .unidades-bg {
    margin-top: 36px;
    padding-bottom: 80px;
  }
  .unidade-sp {
    padding-top: 60px;
  }
  .unidade-sp::after {
    bottom: -60px;
  }
  .unidade-rj {
    padding-top: 120px;
  }
}

@media (max-width: 800px) {
  .unidade-sp,
  .unidade-rj {
    grid-template-columns: 1fr;
  }
  .unidade-sp picture,
  .unidade-rj picture {
    display: none;
  }
  .unidade-sp div,
  .unidade-rj div,
  .unidade-sp a,
  .unidade-rj a {
    text-align: center;
    justify-self: center;
  }
  .unidade-sp p,
  .unidade-rj p,
  .unidade-sp div picture,
  .unidade-rj div picture,
  .unidade-sp a,
  .unidade-rj a {
    margin-top: 40px;
  }

  .unidade-sp div picture,
  .unidade-rj div picture {
    display: block;
  }
  .unidade-sp div img,
  .unidade-rj div img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .unidade-sp div {
    position: relative;
  }
}
